In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
my_data = pd.read_csv('\\Users\\cofos\\Downloads\\universities.csv',delimiter = ',', header = 0) 
my_data.head()

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0

In [3]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2907 non-null   object
 1   address  2907 non-null   object
 2   Website  2822 non-null   object
 3   Type     2907 non-null   object
 4   Size     2829 non-null   float64
dtypes: float64(1), object(4)
memory usage: 113.7+ KB

In [4]:
my_data['Website'].isnull().sum()

85

In [5]:
data = my_data.drop(['Website'], axis=1)

In [6]:
data.columns

Index(['name', 'address', 'Type', 'Size'], dtype='object')

In [7]:
median = data['Size'].median()
data['Size'].fillna(median)

0        3480.0
1        4669.0
2        3600.0
3         165.0
4          51.0
         ...
2902      139.0
2903      396.0
2904     5627.0
2905    13704.0
2906      247.0
Name: Size, Length: 2907, dtype: float64

In [33]:
data['Size'] = data['Size'].fillna(median)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2907 non-null   object
 1   address  2907 non-null   object
 2   Type     2907 non-null   object
 3   Size     2907 non-null   float64
dtypes: float64(1), object(3)
memory usage: 91.0+ KB

In [34]:
data1 = data.groupby('Type').aggregate([np.mean, np.median]).reset_index()
data1

                                                Type          Size
                                                              mean  median
0                         4-year, Private for-profit   3397.468310   788.5
1                     4-year, Private not-for-profit   2371.861305  1290.0
2                                     4-year, Public  11236.173139  7461.5
3  4-year, primarily associate's, Private for-profit    934.380597   564.5
4  4-year, primarily associate's, Private not-for...   1129.413793   768.0
5              4-year, primarily associate's, Public   6889.366197  3558.0

In [35]:
split_address= my_data['address']
split_address

0             800 W Jefferson, Kirksville, Missouri 63501
1                 1600 Campus Court, Abilene, Texas 79699
2              2802 Moore Hwy, Tifton, Georgia 31793-2601
3       1101 E. 78th Street, Suite 100, Minneapolis, M...
4              305 SE 2nd Ave, Gainesville, Florida 32601
                              ...
2902    13315 W. Washington Boulevard, Los Angeles, Ca...
2903             1125 E 8th St, York, Nebraska 68467-2699
2904       Country Club Rd, York, Pennsylvania 17403-3651
2905    One University Plaza, Youngstown, Ohio 44555-0001
2906    320 South Main Street, Haverhill, Massachusett...
Name: address, Length: 2907, dtype: object

In [36]:
split_address = split_address.str.split(',', expand=True)
split_address

,0,1,2,3,4,5
0,800 W Jefferson,Kirksville,Missouri 63501,None,None,None
1,1600 Campus Court,Abilene,Texas 79699,None,None,None
2,2802 Moore Hwy,Tifton,Georgia 31793-2601,None,None,None
3,1101 E. 78th Street,Suite 100,Minneapolis,Minnesota 55420-1554,None,None
4,305 SE 2nd Ave,Gainesville,Florida 32601,None,None,None
...,...,...,...,...,...,...
2902,13315 W. Washington Boulevard,Los Angeles,California 90066,None,None,None
2903,1125 E 8th St,York,Nebraska 68467-2699,None,None,None
2904,Country Club Rd,York,Pennsylvania 17403-3651,None,None,None
2905,One University Plaza,Youngstown,Ohio 44555-0001,None,None,None
2906,320 South Main Street,Haverhill,Massachusetts 01835,None,None,None

In [ ]:
#addresses = raw['address']
#addresses = addresses.str.split(',')
#add = raw['Address'].spilt(',')
#zipc = []
#state = []
#city = []
#street_address = []
#suite_apt = []
#for i in range(len(addresses)):
    #state_zip = addresses[i][-1].split()
    #zipc.append(state_zip[1])
    #state.append(state_zip[0])
    #city.append(addresses[i][-2])
    #street_address.append(addresses[i][0] + ',' + addresses[i][1])

In [12]:
#ew = my_data

#public_private = my_data['Type']
#neway = public_private.str.splitlines(True)

#public_private = public_private.str.split(',', expand = True)
#public_private

In [37]:
new = my_data['Type']
new = new.str.rsplit(',', expand = True)
new

           0                        1                    2
0     4-year   Private not-for-profit                 None
1     4-year   Private not-for-profit                 None
2     4-year    primarily associate's               Public
3     4-year    primarily associate's   Private for-profit
4     4-year   Private not-for-profit                 None
...      ...                      ...                  ...
2902  4-year   Private not-for-profit                 None
2903  4-year   Private not-for-profit                 None
2904  4-year   Private not-for-profit                 None
2905  4-year                   Public                 None
2906  4-year   Private not-for-profit                 None

[2907 rows x 3 columns]

In [14]:
my_data['private']= my_data['Type'].str.contains('Private',case=True)
my_data

,name,address,Website,Type,Size,private
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,True
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,True
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,False
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,True
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,True
...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,True
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,True
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,True
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,False
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,True

In [38]:
my_data['profit']= my_data['Type'].str.contains('for-profit',case=True)

In [39]:
my_data

,name,address,Website,Type,Size,private,profit,state,zipcode,city,Street_address,public_private,Profit/non_profit
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,True,True,Missouri,63501,Kirksville,"800 W Jefferson,",Private,not-for-profit
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,True,True,Texas,79699,Abilene,"1600 Campus Court,",Private,not-for-profit
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,False,False,Georgia,31793-2601,Tifton,"2802 Moore Hwy,",Public,not_for_profit
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,True,True,Minnesota,55420-1554,Minneapolis,"1101 E. 78th Street, Suite 100,",Private,for-profit
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,True,True,Florida,32601,Gainesville,"305 SE 2nd Ave,",Private,not-for-profit
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,True,True,California,90066,Angeles,"13315 W. Washington Boulevard, Los",Private,not-for-profit
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,True,True,Nebraska,68467-2699,York,"1125 E 8th St,",Private,not-for-profit
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,True,True,Pennsylvania,17403-3651,York,"Country Club Rd,",Private,not-for-profit
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,False,False,Ohio,44555-0001,Youngstown,"One University Plaza,",Public,None
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,True,True,Massachusetts,01835,Haverhill,"320 South Main Street,",Private,not-for-profit

In [40]:
my_data['status']= my_data['Type'].str.contains('Private',case=True)
my_data

,name,address,Website,Type,Size,private,profit,state,zipcode,city,Street_address,public_private,Profit/non_profit,status
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,True,True,Missouri,63501,Kirksville,"800 W Jefferson,",Private,not-for-profit,True
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,True,True,Texas,79699,Abilene,"1600 Campus Court,",Private,not-for-profit,True
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,False,False,Georgia,31793-2601,Tifton,"2802 Moore Hwy,",Public,not_for_profit,False
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,True,True,Minnesota,55420-1554,Minneapolis,"1101 E. 78th Street, Suite 100,",Private,for-profit,True
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,True,True,Florida,32601,Gainesville,"305 SE 2nd Ave,",Private,not-for-profit,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,True,True,California,90066,Angeles,"13315 W. Washington Boulevard, Los",Private,not-for-profit,True
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,True,True,Nebraska,68467-2699,York,"1125 E 8th St,",Private,not-for-profit,True
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,True,True,Pennsylvania,17403-3651,York,"Country Club Rd,",Private,not-for-profit,True
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,False,False,Ohio,44555-0001,Youngstown,"One University Plaza,",Public,None,False
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,True,True,Massachusetts,01835,Haverhill,"320 South Main Street,",Private,not-for-profit,True

In [41]:
state = my_data['address'].str.rsplit(n=2, expand = True)
my_data['state'] = state[1]
my_data['zipcode']= state[2]
my_data.head()

,name,address,Website,Type,Size,private,profit,state,zipcode,city,Street_address,public_private,Profit/non_profit,status
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,True,True,Missouri,63501,Kirksville,"800 W Jefferson,",Private,not-for-profit,True
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,True,True,Texas,79699,Abilene,"1600 Campus Court,",Private,not-for-profit,True
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,False,False,Georgia,31793-2601,Tifton,"2802 Moore Hwy,",Public,not_for_profit,False
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,True,True,Minnesota,55420-1554,Minneapolis,"1101 E. 78th Street, Suite 100,",Private,for-profit,True
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,True,True,Florida,32601,Gainesville,"305 SE 2nd Ave,",Private,not-for-profit,True

In [42]:


city = state[0].str.rsplit(n=1,expand = True)
#city.tail(10)
my_data['city'] = city[1].str.strip(',')
my_data['Street_address']= city[0]
my_data.head()

,name,address,Website,Type,Size,private,profit,state,zipcode,city,Street_address,public_private,Profit/non_profit,status
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,True,True,Missouri,63501,Kirksville,"800 W Jefferson,",Private,not-for-profit,True
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,True,True,Texas,79699,Abilene,"1600 Campus Court,",Private,not-for-profit,True
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,False,False,Georgia,31793-2601,Tifton,"2802 Moore Hwy,",Public,not_for_profit,False
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,True,True,Minnesota,55420-1554,Minneapolis,"1101 E. 78th Street, Suite 100,",Private,for-profit,True
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,True,True,Florida,32601,Gainesville,"305 SE 2nd Ave,",Private,not-for-profit,True

In [43]:
my_data

,name,address,Website,Type,Size,private,profit,state,zipcode,city,Street_address,public_private,Profit/non_profit,status
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,True,True,Missouri,63501,Kirksville,"800 W Jefferson,",Private,not-for-profit,True
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,True,True,Texas,79699,Abilene,"1600 Campus Court,",Private,not-for-profit,True
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,False,False,Georgia,31793-2601,Tifton,"2802 Moore Hwy,",Public,not_for_profit,False
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,True,True,Minnesota,55420-1554,Minneapolis,"1101 E. 78th Street, Suite 100,",Private,for-profit,True
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,True,True,Florida,32601,Gainesville,"305 SE 2nd Ave,",Private,not-for-profit,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,True,True,California,90066,Angeles,"13315 W. Washington Boulevard, Los",Private,not-for-profit,True
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,True,True,Nebraska,68467-2699,York,"1125 E 8th St,",Private,not-for-profit,True
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,True,True,Pennsylvania,17403-3651,York,"Country Club Rd,",Private,not-for-profit,True
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,False,False,Ohio,44555-0001,Youngstown,"One University Plaza,",Public,None,False
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,True,True,Massachusetts,01835,Haverhill,"320 South Main Street,",Private,not-for-profit,True

In [44]:
public = my_data['Type']
public

0                          4-year, Private not-for-profit
1                          4-year, Private not-for-profit
2                   4-year, primarily associate's, Public
3       4-year, primarily associate's, Private for-profit
4                          4-year, Private not-for-profit
                              ...
2902                       4-year, Private not-for-profit
2903                       4-year, Private not-for-profit
2904                       4-year, Private not-for-profit
2905                                       4-year, Public
2906                       4-year, Private not-for-profit
Name: Type, Length: 2907, dtype: object

In [45]:
public = my_data['Type'].str.rsplit(n=2,expand = True)
public

                                   0             1               2
0                            4-year,       Private  not-for-profit
1                            4-year,       Private  not-for-profit
2                  4-year, primarily  associate's,          Public
3     4-year, primarily associate's,       Private      for-profit
4                            4-year,       Private  not-for-profit
...                              ...           ...             ...
2902                         4-year,       Private  not-for-profit
2903                         4-year,       Private  not-for-profit
2904                         4-year,       Private  not-for-profit
2905                         4-year,        Public            None
2906                         4-year,       Private  not-for-profit

[2907 rows x 3 columns]

In [46]:
public[2]

0       not-for-profit
1       not-for-profit
2               Public
3           for-profit
4       not-for-profit
             ...
2902    not-for-profit
2903    not-for-profit
2904    not-for-profit
2905              None
2906    not-for-profit
Name: 2, Length: 2907, dtype: object

In [47]:
public["2"]= public[2].str.replace("public", "not_for_profit", case = False)
filter = public[2]=="not-for-profit"
filter

0        True
1        True
2       False
3       False
4        True
        ...
2902     True
2903     True
2904     True
2905    False
2906     True
Name: 2, Length: 2907, dtype: bool

In [48]:
public.head(30)

,0,1,2,2
0,"4-year,",Private,not-for-profit,not-for-profit
1,"4-year,",Private,not-for-profit,not-for-profit
2,"4-year, primarily","associate's,",Public,not_for_profit
3,"4-year, primarily associate's,",Private,for-profit,for-profit
4,"4-year,",Private,not-for-profit,not-for-profit
5,"4-year,",Private,for-profit,for-profit
6,"4-year,",Private,not-for-profit,not-for-profit
7,"4-year,",Private,for-profit,for-profit
8,"4-year,",Private,not-for-profit,not-for-profit
9,"4-year,",Private,not-for-profit,not-for-profit
10,"4-year, primarily associate's,",Private,for-profit,for-profit
11,"4-year,",Public,None,None
12,"4-year,",Private,not-for-profit,not-for-profit
13,"4-year,",Private,not-for-profit,not-for-profit
14,"4-year,",Private,not-for-profit,not-for-profit
15,"4-year,",Private,not-for-profit,not-for-profit
16,"4-year,",Private,not-for-profit,not-for-profit
17,"4-year,",Private,for-profit,for-profit
18,"4-year, primarily associate's,",Private,not-for-profit,not-for-profit
19,"4-year,",Public,None,None
20,"4-year,",Public,None,None
21,"4-year,",Public,None,None
22,"4-year,",Private,not-for-profit,not-for-profit
23,"4-year,",Private,not-for-profit,not-for-profit
24,"4-year,",Private,not-for-profit,not-for-profit
25,"4-year,",Private,not-for-profit,not-for-profit
26,"4-year,",Public,None,None
27,"4-year,",Private,not-for-profit,not-for-profit
28,"4-year,",Private,not-for-profit,not-for-profit
29,"4-year,",Private,not-for-profit,not-for-profit

In [49]:
public[1]= public[1].str.replace("associate's,", "Public", case = False)
filter = public[1]=="Public"
filter

0       False
1       False
2        True
3       False
4       False
        ...
2902    False
2903    False
2904    False
2905     True
2906    False
Name: 1, Length: 2907, dtype: bool

In [50]:
public

                                   0        1               2               2
0                            4-year,  Private  not-for-profit  not-for-profit
1                            4-year,  Private  not-for-profit  not-for-profit
2                  4-year, primarily   Public          Public  not_for_profit
3     4-year, primarily associate's,  Private      for-profit      for-profit
4                            4-year,  Private  not-for-profit  not-for-profit
...                              ...      ...             ...             ...
2902                         4-year,  Private  not-for-profit  not-for-profit
2903                         4-year,  Private  not-for-profit  not-for-profit
2904                         4-year,  Private  not-for-profit  not-for-profit
2905                         4-year,   Public            None            None
2906                         4-year,  Private  not-for-profit  not-for-profit

[2907 rows x 4 columns]

In [51]:
 my_data['public_private'] = public[1]
my_data['Profit/non_profit']= public['2']
my_data

,name,address,Website,Type,Size,private,profit,state,zipcode,city,Street_address,public_private,Profit/non_profit,status
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,True,True,Missouri,63501,Kirksville,"800 W Jefferson,",Private,not-for-profit,True
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,True,True,Texas,79699,Abilene,"1600 Campus Court,",Private,not-for-profit,True
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,False,False,Georgia,31793-2601,Tifton,"2802 Moore Hwy,",Public,not_for_profit,False
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,True,True,Minnesota,55420-1554,Minneapolis,"1101 E. 78th Street, Suite 100,",Private,for-profit,True
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,True,True,Florida,32601,Gainesville,"305 SE 2nd Ave,",Private,not-for-profit,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,True,True,California,90066,Angeles,"13315 W. Washington Boulevard, Los",Private,not-for-profit,True
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,True,True,Nebraska,68467-2699,York,"1125 E 8th St,",Private,not-for-profit,True
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,True,True,Pennsylvania,17403-3651,York,"Country Club Rd,",Private,not-for-profit,True
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,False,False,Ohio,44555-0001,Youngstown,"One University Plaza,",Public,None,False
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,True,True,Massachusetts,01835,Haverhill,"320 South Main Street,",Private,not-for-profit,True

In [52]:
my_data.columns

Index(['name', 'address', 'Website', 'Type', 'Size', 'private', 'profit',
       'state', 'zipcode', 'city', 'Street_address', 'public_private',
       'Profit/non_profit', 'status'],
      dtype='object')

In [54]:
final_data = my_data.drop(['address','Type','private','profit','status'], axis=1)

In [62]:
final_data =final_data.rename(columns = {'public_private':'Type'})
final_data

,name,Website,Size,state,zipcode,city,Street_address,Type,Profit/non_profit
0,A T Still University of Health Sciences,WWW.ATSU.EDU,3480.0,Missouri,63501,Kirksville,"800 W Jefferson,",Private,not-for-profit
1,Abilene Christian University,www.acu.edu,4669.0,Texas,79699,Abilene,"1600 Campus Court,",Private,not-for-profit
2,Abraham Baldwin Agricultural College,www.abac.edu,3600.0,Georgia,31793-2601,Tifton,"2802 Moore Hwy,",Public,not_for_profit
3,Academy College,www.academycollege.edu,165.0,Minnesota,55420-1554,Minneapolis,"1101 E. 78th Street, Suite 100,",Private,for-profit
4,Academy for Five Element Acupuncture,www.acupuncturist.edu,51.0,Florida,32601,Gainesville,"305 SE 2nd Ave,",Private,not-for-profit
...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,www.yosan.edu,139.0,California,90066,Angeles,"13315 W. Washington Boulevard, Los",Private,not-for-profit
2903,York College,www.york.edu/,396.0,Nebraska,68467-2699,York,"1125 E 8th St,",Private,not-for-profit
2904,York College Pennsylvania,www.ycp.edu,5627.0,Pennsylvania,17403-3651,York,"Country Club Rd,",Private,not-for-profit
2905,Youngstown State University,www.ysu.edu,13704.0,Ohio,44555-0001,Youngstown,"One University Plaza,",Public,None
2906,Zion Bible College,www.zbc.edu,247.0,Massachusetts,01835,Haverhill,"320 South Main Street,",Private,not-for-profit

In [63]:
final_data = final_data[['name','Street_address','city', 'state','zipcode','Website','Type','Profit/non_profit','Size']]

In [64]:
final_data.head(10)

,name,Street_address,city,state,zipcode,Website,Type,Profit/non_profit,Size
0,A T Still University of Health Sciences,"800 W Jefferson,",Kirksville,Missouri,63501,WWW.ATSU.EDU,Private,not-for-profit,3480.0
1,Abilene Christian University,"1600 Campus Court,",Abilene,Texas,79699,www.acu.edu,Private,not-for-profit,4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy,",Tifton,Georgia,31793-2601,www.abac.edu,Public,not_for_profit,3600.0
3,Academy College,"1101 E. 78th Street, Suite 100,",Minneapolis,Minnesota,55420-1554,www.academycollege.edu,Private,for-profit,165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave,",Gainesville,Florida,32601,www.acupuncturist.edu,Private,not-for-profit,51.0
5,Academy of Art University,"79 New Montgomery, San",Francisco,California,94105,www.academyart.edu,Private,for-profit,13181.0
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St,",Oakland,California,94612,www.acchs.edu,Private,not-for-profit,92.0
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204,",Austin,Texas,78757,www.aoma.edu,Private,for-profit,207.0
8,Academy of Vocal Arts,"1920 Spruce St,",Philadelphia,Pennsylvania,19103-6685,www.avaopera.org,Private,not-for-profit,27.0
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave,",Berkeley,California,94704,www.aimc.edu,Private,not-for-profit,181.0

In [69]:
grouped = final_data.groupby(['state', 'Type']).agg({'Size': ['mean', 'median']}).reset_index()

In [70]:
grouped

         state     Type          Size
                                 mean   median
0      Alabama  Private   2186.464286    718.0
1      Alabama   Public  11537.928571   7317.0
2       Alaska  Private    775.000000    775.0
3       Alaska   Public   9392.666667   8575.0
4      Arizona  Private   9673.763158    858.5
..         ...      ...           ...      ...
98   Wisconsin   Public  12603.357143   9521.5
99     Wyoming  Private     79.000000     79.0
100    Wyoming   Public  12067.000000  12067.0
101       York  Private   2872.021505   1065.0
102       York   Public   8639.711111   6358.0

[103 rows x 4 columns]